footer{

    background-color: #000;
}
footer .footer-top {
    padding: 80px 0 60px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}


.footer-brand {
    display: grid;
    max-width: 290px;
    font-size: .875rem;
    color: #fff;
    grid-gap: 1rem;
    gap: 1rem;
    margin-bottom: 2rem;
}


footer .sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 15px;
}

footer .awards {
    display: flex;
    gap: 15px;
}

footer .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 16px;
}
.nh-collapse.show {
    grid-template-rows: 1fr;
}

.nh-collapse {
    display: grid;
    transition: grid-template-rows .3s;
}

footer .copyright {
    padding: 20px 0;
}
footer .copyright .copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #d2d2d2;
    margin-bottom: 0;
    /* text-align: center; */
    /* padding-bottom: 5px; */
}

footer .copyright .nav {
    display: flex;
    gap: 15px;
    justify-content: end;
}


footer .copyright .nav li a {
    color: #d2d2d2;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    transition: all .3s ease;
}
footer .follow-us {
    margin-top: 40px;
}
footer ul li a {
    font-weight: 400;
    text-decoration: none;
    transition: all .3s ease;
}

footer ul li a, footer ul li span {
    font-size: 14px;
    line-height: 22px;
    color: hsla(0,0%,100%,.8);
}
footer ul li {
    margin-bottom: 8px;
}
footer .social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
footer .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsla(0,0%,100%,.8);
    transition: all .3s ease;
}
footer ul li a {
    font-weight: 400;
    text-decoration: none;
    transition: all .3s ease;
}
footer ul li a, footer ul li span {
    font-size: 14px;
    line-height: 22px;
    color: hsla(0,0%,100%,.8);
}
.social li{
    list-style: none;
}



button.accordion-button.collapsed {
    color: white;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 1.53125L8 9.5L0.5 1.5785L1.5545 0.499999L8 7.3205L14.4215 0.5L15.5 1.53125Z' fill='white'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 1.53125L8 9.5L0.5 1.5785L1.5545 0.499999L8 7.3205L14.4215 0.5L15.5 1.53125Z' fill='white'%3e%3c/path%3e%3c/svg%3e");
transform: rotate(180deg);
}


.accordion-button{
    padding: 0;
}
button:focus:not(:focus-visible) {
    outline: 0;
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #000;
}
.accordia-boder{
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-bottom: 15px;
}
